
.primary-text {
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 6px;
  position: relative;
  color: #8e8e8e;
}

.primary-text:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 101%;
    width: 93px;
    background: #666666;
    top: 0;
    mix-blend-mode: color-dodge;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.signature {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid black;
  margin: 14px 21px;
  font-size: 13px;
}
